@charset "utf-8";

/* Layout */
.container {position: relative; width: 1280px; margin: 0 auto; background: rgba(0,0,0,0);}
.row {padding: 0 28px;}
#header {width: 100%; border-bottom: 1px solid #c6c6c6; background-color: #ffffff;}
#mNav {display: none; position: absolute; top: 10px; right: 14px;}
#banner {position: relative;}

/* header mobile icon */
.ham {display: block; width: 25px; height: 10px; background: rgba(0,0,0,0); padding: 15px 10px 10px 10px;} 
.ham span {position: relative; display: block; width: 25px; height: 4px; background: #39106a;}
.ham span::before {content: ''; width: 25px; height: 4px; background: #39106a; position: absolute; left: 0; bottom: -7px;}
.ham span::after {content: ''; width: 25px; height: 4px; background: #39106a; position: absolute; left: 0; top: -7px;}

/* header */
.header h1 {float: left;}
.header h1 em {display: inline-block; padding: 15px 8px 3px 0;}
.header h1 em img {width: 155px;}
.header h1 strong {display: block; position: absolute; left: 194px; top: 22px;}
.header h1 strong img {width: 123px;}
.header .nav {float: right;}
.header .nav ul {border-left: 1px solid #c6c6c6;}
.header .nav ul li {float: left; width: 103px; text-align: center; border-right: 1px solid #c6c6c6;}
.header .nav ul li a {display: block; padding: 19px 10px; font-size: 17px; font-weight: 700; color: #444;}

/* Banner - menu */
.banner_menu {overflow: hidden; position: absolute; left: 0; top: 20px; width: 100%; height: 100px; z-index: 10;}
.banner_menu a {color: white; font-size: 17px; transition: all 0.3s; font-weight: bold;}
.banner_menu a:hover {color: #c1c1c1}
.banner_menu .bm_left {float: left; }
.banner_menu .bm_left ul {padding-top: 7px;}
.banner_menu .bm_left li {position: relative; display: inline; margin-right: 30px;}
.banner_menu .bm_left li.total {margin-right: 20px;}
.banner_menu .bm_left li.total a {color: rgba(255,255,255,0.75); font-size: 15px; padding: 7px 15px; background: rgba(0,0,0,0.6); display: inline-block; border: 1px solid rgba(255,255,255,0.6); transition: all 0.3s}
.banner_menu .bm_left li.total a:before {
  content: "\f0c9";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  margin-right: 5px;
  -webkit-font-smoothing: antialiased;
}
.banner_menu .bm_left li.total a:hover {background: #fff; border-color: #000000; color: #000;}
.banner_menu .bm_right {overflow: hidden; float: right;}
.banner_menu .bm_right ul {float: left;}
.banner_menu .bm_right ul:first-child {padding-top: 7px;}
.banner_menu .bm_right li {position: relative; display: inline; text-align: center; margin-right: 20px;}
.banner_menu .bm_right li.line {margin-right: 30px;}
.banner_menu .bm_right li.white {margin-right: 10px;}
.banner_menu .bm_right li.white a {display: inline-block; width: 80px; background-color: #fff; color: #3a0e6a; padding: 7px 30px 9px 30px; border: 1px solid #fff; opacity: 0.7;}
.banner_menu .bm_right li.purple {margin-right: 0;}
.banner_menu .bm_right li.purple a {position: relative; display: inline-block; width: 80px; background-color: #3a0e6a; color: #fff; padding: 7px 45px 9px 15px; border: 1px solid #6e40c4;}
/* .banner_menu .bm_right li.purple a {display: inline-block; width: 80px; background-color: #3a0e6a; color: #fff; padding: 7px 30px 9px 30px; border: 1px solid #6e40c4;} */
.banner_menu .bm_right li.purple a img {width: 30px; right: 20px; position: absolute;;}
.banner_menu li.line:after {content: ''; width: 1px; height: 14px; background: #ffffff; position: absolute; right: -18px; top: 2px;}

/* slider */
.slider {width: 100%; height: 600px;}
.slider .ss1 { background: url(../img/swiper01.jpg) no-repeat center center; background-size: cover;}
.slider .ss2 { background: url(../img/main_slider01_2000.jpg) no-repeat center center; background-size: cover;}
.slider .ss3 { background: url(../img/main_slider02_2000.jpg) no-repeat center center; background-size: cover;}
.slider .ss4 { background: url(../img/main_slider03_2000.jpg) no-repeat center center; background-size: cover;}
.slider .swiper-slide h2 {position: relative; display: inline-block; font-size: 55px; color: #fff; margin-top: 200px; line-height: 70px;}
.slider .swiper-slide h2::after {content: ''; width: 100%;height: 1px; background: rgba(255,255,255,0.3); position: absolute; left: 0; bottom: -30px;}
.slider .swiper-slide h2 em {display: block; font-size: 52px; font-weight: 100;}
.slider .swiper-slide p {font-size: 30px; color: #fff; padding-top: 45px;}
.swiper-container {height: 100%;}

/* media query */
@media(max-width: 1290px) {
  .container{width: 100%;}
  .header .nav ul li {width: 93px; height: 60px;}
  .header .nav ul li a {font-size: 15; padding: 17px 10px;}
  .header h1 em {padding: 14px 8px 5px 0;}
  .header h1 strong {top: 20px;}
}

@media(max-width: 1024px) {
  .row {padding: 0 24px;}
  #mNav {display: block;}
  .header .nav {display: none;}
  .header h1 {float: none; text-align: center;}
  .header h1 strong {left: 24px;}
}

@media(max-width: 960px) {

}

@media(max-width: 768px) {
  body {background: #d9d7e0;}
  .row {padding: 0 16px;}
  #mNav {right: 6px;}
  .header h1 {text-align: left;}
  .header h1 strong {display: none;}
}

@media(max-width: 600px) {

}

@media(max-width: 480px) {
 
}

@media(max-width: 320px) {
  
}